$default-base: #f8f8f8;
$white: white;
$ch-defauilt: #000080;


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}