@import './base';

.container {
    height: 100vh !important;
    background-color: $default-base !important;
}

header nav.navbar {
    background-color: $ch-defauilt !important;
}

.search-course {
    max-width: 500px;
    min-height: 500px;
    background-color: $white;
    border-radius: 5px;
}
button {
    background-color: $white !important;
    color: $ch-defauilt !important;
    border: 1px solid $ch-defauilt !important;
}
button:hover, button:focus{
    background-color: $ch-defauilt !important;
    color: $white !important;
}
button:disabled {
    border: 1px solid #AAA !important;
    background-color: $default-base !important;
    color: black !important;
    pointer-events: auto !important;
    cursor: not-allowed !important;
}

.card-header {
    background-color: $ch-defauilt !important;
    color: $white;
}
input[type="text"] {
    border: 1px solid #AAA;
}

input[type="text"]:focus {
    border: 1px solid #AAA !important;
    box-shadow: 0 0 0 0.1rem #AAA;
}

input[type="text"].error-state {
    border: 2px solid red !important;
}

.error {
    color: red !important;
}

.columnWidth {
 width: 25% !important;   
}
